@page "/userlist"
@inherits UserListProcess

<div class="btn-group">
    <AddNewButtonComponent Caption="Create User" OnClick="goCreateUserPage" />
    <button onclick="@goCreateUserPage" class="btn btn-success">sadsad</button>

</div>


@if (UserList != null)
{
    <RadzenDataGrid AllowFiltering="true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowColumnPicking="true"
                    AllowPaging="true" PageSize="10"
                    AllowSorting="true" Data="@UserList"
                    TItem="UserDTO">
        <Columns>
            <RadzenDataGridColumn TItem="UserDTO" Property="Id" Title="Id" />
            <RadzenDataGridColumn TItem="UserDTO" Property="FullName" Title="Adı Soyadı" />
            <RadzenDataGridColumn TItem="UserDTO" Property="EMailAddress" Title="Email Adresi" />
            <RadzenDataGridColumn TItem="UserDTO" Property="CreateDate" Title="Kayıt Tarihi" >  
            </RadzenDataGridColumn>
        
            <RadzenDataGridColumn TItem="UserDTO" Property="IsActive" Title="Durumu" />
        </Columns>
    </RadzenDataGrid>
}


